:root{

    --darkest: #13072e;
    --darker: #16144e;
    --backgroundColor: #CADFDF;
    --whiter:#ECF0EF;
    --dark:#3f2182;
    
}
body{
    margin: 0;
    padding: 0;
}
::placeholder{
    color: white;

}