:root{

    --darkest: #13072e;
    --darker: #31144e;
    --darkpurple: #31174b;
    --backgroundColor: #13072e;
    --whiter:#514D74;
    --dark:#3f2182;
    --white: #bdbdbd;
    
    
}
body{
    margin: 0;
    padding: 0;
}
::placeholder{
    color: white;

}